@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: #050505;
  color: #ffffff;
  /* This prevents the "bouncing" scroll effect on Windows/Chrome */
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}